<!-- ETAPA 1 -->
<!-- subetapa 1 -->
<!DOCTYPE html>
<html lang="ro">
  <head>
    <!-- subetapa 2 -->

    <meta
      name="keywords"
      content=" ghete, incaltaminte, pantofi, sport, slapi, sandale, marime, model, ACN shoes"
    />
    <meta
      name="description"
      content="Din 2021 ACN SHOES promite sa ofere incaltaminte calitativa. 
      La noi gasesti pantofi sport, ghete, slapi, sandale pentru toate categoriile de varsta si pentru toate gusturile "
    />
   
    <title>ACN Shoes</title>
    <%- include("../fragmente/head.ejs") %>
    <link
      rel="stylesheet"
      href="/resurse/css/galerie-animata.css"
      type="text/css"
    />
  </head>
  <!-- subetapa 5 -->
  <body>
    <!-- subetapa 6 -->
    <%- include("../fragmente/header.ejs") %>
    <!--subetapa 7 -->
    <main>
      
      <div id="grid-pagina">
        <section id="welcome">
          <div class="row">
            <div class="column">
              <img
                src="/resurse/imagini/reduceri.png"
                alt="supersales"
                style="width: 100%; height: auto"
              />
            </div>
            <div class="column">
              <img
                src="/resurse/imagini/zona1-img.jpg"
                alt="kids-shoes"
                style="width: 100%; height: auto"
              />
            </div>
          </div>
          <h2 class="scris" style="text-align: center">BINE ATI VENIT!</h2>
          <p class="scris" style="text-align: center">
            Este sezonul reducerilor!
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
            <lord-icon
              src="https://cdn.lordicon.com/qrbokoyz.json"
              trigger="loop"
              colors="primary:#121331,secondary:#08a88a"
              style="width: 50px; height: 50px"
            >
            </lord-icon>
            Te asteptam cu numeroase oferte irrrezistibile!
            <span class="fab fa-shopify" style="font-size: 25px"></span>
          </p>

          <div class="row">
            <div class="column">
              <img
                src="/resurse/imagini/zona1.jpg"
                alt="passion"
                style="width: 100%; height: auto"
              />
            </div>
            <div class="column">
              <img
                src="/resurse/imagini/welcome.png"
                alt="sales"
                style="width: 100%; height: auto"
              />
            </div>
          </div>
        </section>

        <section id="online_users">
          <h2>UTILIZATORI ONLINE</h2>
          <p>Locatie (acum e pentru un ip oarecare hardcodat in index.js - trebuie pus pe heroku ca sa mearga): <%= locals.locatie %></p>
          <p><b>Utilizatori online</b> (în ultimele 5 minute):
              <% for (let i=0;i<locals.utiliz_online.length-1;i++) {%>
                  <%= locals.utiliz_online[i].username %>(<%- locals.utiliz_online[i].nume %>), 
              <%}%>
              <% if(locals.utiliz_online.length>0) { %>
                  <%= locals.utiliz_online[utiliz_online.length-1].username %>(<%- locals.utiliz_online[utiliz_online.length-1].nume %>)
              <% }  %>
          </p>
        </section>

        <section id="user_stats">
          <h2>DATE DESPRE UTILIZATOR</h2>
          <%- "Ip-ul dumneavoastra este: "+ locals.ip %>
          <% if(locals.utilizator) { %>
            <p><%- locals.utilizator.nume %> <%- locals.utilizator.prenume %></p>
            <p><%- locals.utilizator.email %></p>
            <p>Problema de vedere: <%- locals.utilizator.problema_vedere %> </p>
            <p>Culoare chat: <%- locals.utilizator.culoare_chat %></p>
          <%} %>
        </section>
        <section id="site_server">
            <h3>SITE SERVER</h3>
            <%
                    dataServer=new Date();
                    sirData=dataServer.getHours()+":"+dataServer.getMinutes()+":"+dataServer.getSeconds()
    
                    %>
                    <p>Pe localhost vor fi identice; se va observa diferența pe Heroku</p>
                    <p>Ora server:<span id="data_server"><%= sirData %></span></p>
                    <p>Ora client:<span id="data_client"></span></p>
                    <script>
                        function zero(nr){
                            if (nr<10) return "0"+nr;
                            return nr;
                        }
                        
                        d=new Date()
                        document.getElementById("data_client").innerHTML=zero(d.getHours())+":"+zero(d.getMinutes())+":"+zero(d.getSeconds());
    
                        function actualizeazaElemData(id_div){
                            var data_div=document.getElementById(id_div);
                            if (data_div.innerHTML!="")
                            {
                                var timp=data_div.innerHTML.split(":")
                                var dt=new Date(2000,1,15, timp[0],timp[1], timp[2] );//nu conteaza data (am pus valori random pentru an, luna si zi) ci timpul
                            }
                            else
                                var dt=new Date();
                            dt.setSeconds(dt.getSeconds()+1)
                            data_div.innerHTML=zero(dt.getHours())+":"+zero(dt.getMinutes())+":"+zero(dt.getSeconds());
                        }
                        function actualizeazaData(){
                            actualizeazaElemData("data_client");
                            actualizeazaElemData("data_server");
                        }
                        actualizeazaData()
                        setInterval(actualizeazaData,1000)
                    </script>
            <!-- <h4>INTREBARI FRECVENTE:</h4>
            <div  style="font-size:15px;">
            <p>
              1. In cat timp se livreaza comenzile? <br />
              Comenzile se livreaza in general in 3-5 zile lucratoare. Pot aparea
              intarzieri in preajma sarbatorilor sau a situatiilor speciale. <br />
              2. Cum se poate efectua plata? <br />
              Plata se poate efectua atat online din pagina comenzii, cat si cash la
              livrare. <br />
              3. In cat timp poate fi disponibil din nou un produs care nu este pe
              stoc in acest moment? <br />
              De obicei, produsele indisponibile momentan vor reveni in magazin in
              2-3 saptamani sau deloc daca sunt editie limitata. <br />
            </p>
            <strong>
              Parerea ta conteaza! Lasa-ne feedback-ul tau
              <a href="feedback.html">aici</a>
            </strong>
          </div> -->
        </section>
        <% if(locals.utilizator && locals.utilizator.problema_vedere) { %>
        <section id="events"style = "font-size: 2em;">
            <%} else {%> 
            <section id="events">
              <% } %>
              <h2>EVENIMENTE</h2>
                    <p>LUNA ACEASTA</p>
                    <div id="calendar">
                        <div>L</div>
                        <div>Ma</div>
                        <div>Mi</div>
                        <div>J</div>
                        <div>V</div>
                        <div>S</div>
                        <div>D</div>
                    <% 
                    nrZile=[31,28,31,30,31,30,31,31,30,31,30,31];
                    
                    d=new Date(); //observatie: este data serverului nu a clinetului; codul ejs fiind compilat pe server
                    anCurent=d.getFullYear();
                    lunaCurenta=d.getMonth();
                    if(anCurent%400==0 || (anCurent%4==0 && anCurent%100!=0)) nrZile=29;
                    let nrZileCalendar=nrZile[lunaCurenta]
                    primaZiLuna=new Date(anCurent, lunaCurenta, 1);
                    ultimaZiLuna=new Date(anCurent, lunaCurenta, nrZileCalendar);
                    ziSaptPrimaZiLuna=(primaZiLuna.getDay()-1+7)%7;
                    ziSaptUltimaZiLuna=(ultimaZiLuna.getDay()-1+7)%7;
                    for (let i=0;i<ziSaptPrimaZiLuna;i++){
                     %>
                     <div></div> 
                     <% } 
    
                     
                     for (let i=1;i<=nrZileCalendar;i++){
                        var obiectEvenimente=null;
                            if(locals.evenimente)
                                 obiectEvenimente=locals.evenimente.find(function(elem){ return elem.data.valueOf()==new Date(anCurent,lunaCurenta,i).valueOf()})
                         if(obiectEvenimente)
                         {
                         %>
                         <div class="zi eveniment" title="<%= obiectEvenimente.text %>"><%= i %></div> 
                         <%
                         }
                         else{
                        %>
                        <div class="zi"><%= i %></div> 
                        <% } 
                    } %>
                    </div>
                    
        </section>
        <section id="news">
          <h2>ANUNTURI</h2>
          <p>
            <strong>
              Fii cu ochii pe site-ul nostru pentru diferite oferte si reduceri!
            </strong>
          </p>
          <hr />
          <p>
            <strong>
              Doar maine avem toate produsele la jumatate de pret!
            </strong>
          </p>
          <video
            controls
            preload="none"
            style="width: 80%; height: auto"
            poster="/resurse/imagini/poza_poster.jpg"
          >
            <source src="/resurse/video/video1.mp4" type="video/mp4" />
            <source src="/resurse/video/video1.ogv" type="video/ogv" />

            <track
              default
              src="/resurse/video/tracks/shoesro.vtt"
              kind="captions"
              srclang="ro"
              label="romană"
            />

            <track
              src="/resurse/video/tracks/shoesen.vtt"
              kind="captions"
              srclang="en"
              label="engleză"
            />
          </video>
        </section>
        <section id="tabel">
          <h2>TABELE</h2>
          <div class="wrapper">
            <table>
              <thead>
                <tr>
                  <th>Produs</th>
                  <th>Cantitate vanduta</th>
                  <th>Marimea cea mai vanduta</th>
                  <th>Cea mai vanduta culoare</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ACN boots F567</td>
                  <td>100 bucati</td>
                  <td>38</td>
                  <td rowspan="2">negru</td>
                </tr>
                <tr>
                  <td>ACN Kboost 564</td>
                  <td>100 bucati</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>ACN Air 79</td>
                  <td>80 bucati</td>
                  <td>43</td>
                  <td>verde</td>
                </tr>
                <tr>
                  <td>ACN FlipFlop X</td>
                  <td>67 bucati</td>
                  <td>32</td>
                  <td>galben</td>
                </tr>
                <tr id="last">
                  <td>ACN skate XZ-654</td>
                  <td>50</td>
                  <td>36</td>
                  <td>alb</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">Anul</td>
                  <td colspan="2">2021</td>
                </tr>
              </tfoot>
              <caption>
                Cele mai vandute produse
              </caption>
            </table>
          </div>
          <div id="despre" >
            <br>
            <br>
            <h3>DESPRE NOI</h3>
            <br />
            <p>
              Din 2021 site-ul
              <abbr title="Andreea-Cristina Nistor">ACN</abbr> SHOES vine cu modele
              unice de <b>incaltaminte</b> la preturi de nerefuzat, pe toate
              <b>marimile</b>.
            </p>
            <p>
              ACN SHOES este destinatia potrivita pentru iubitorii de
              <b>pantofi sport</b>, <b>ghete</b>, <b>slapi</b> si <b>sandale</b> ce
              pune in prim plan preferintele tuturor consumatorilor. Incercam sa
              oferim produse pe placul tuturor si asiguram o calitate inalta a
              <b>incaltamintei</b>.
            </p>
            <p>
              Stim ca <b>incaltamintea</b> este o parte foarte importanta pentru
              unii oameni. Ea poate completa de minune stilul sau poate deveni
              elementul cel mai important. Pe langa comoditatea pantofilor nostri,
              asiguram si diversitatea modelelor pentru a satisface cat mai multe
              preferinte. Asa cum spune si Christian Louboutin,
              <q
                lang="ro"
                cite="https://www.ele.ro/fashion/stiri-fashion/citate-celebre-din-istoria-modei-vezi-maximele-care-au-inspirat-o-lume-nteaga--32108"
              >
                <b>Pantofii</b> iti transforma limbajul corpului si atitudinea. Te
                ridica fizic si emotional.
              </q>
            </p>
          </div>
        </section>
        <section id="others" >
          <h2>SFATURI SI IDEI</h2>
          <p>
            Te intrebi cum sa iti alegi <b>marimea</b> potrivita la
            <b>incaltaminte</b>? Mai jos gasesti doua videoclipuri sugestive.
          </p>
          <center>
          <div class="video-iframe">
            <iframe
              name="ifr-video"
              width="600"
              height="400"
              src="https://www.youtube.com/embed/vcQgJb9-oZ8"
            ></iframe>
          </div>
          <div class="taburi-iframe">
            <a
              href="https://www.youtube.com/embed/vcQgJb9-oZ8"
              target="ifr-video"
              >Video 1</a
            >
            <a
              href="https://www.youtube.com/embed/g8lqKlkD_90"
              target="ifr-video"
              >Video 2</a
            >
            <br />
          </div>
        </center>
        </section>
      </div>

      
      <!-- subetapa 12 -->
     
      <div id="galerie">
      <section id="galerie-statica">
        <h2 style="font-size:40px;">GALERIE STATICA PRODUSE</h2>
        <div id="grid-galerie">
          <% for (let imag of locals.imagini){ %> <% if (anotimp ==
          imag.anotimp) { %>
          <figure>
            <picture>
              <!-- il ia pe primul care se potriveste cu query-ul din media-->
              <source srcset="/<%- imag.mic%>" media="(max-width:600px)" />
              <source srcset="/<%- imag.mediu%>" media="(max-width:1200px)" />
              <img src="/<%- imag.mare %>" alt="<%- imag.titlu %>""
              class="imagine" />
            </picture>
            <figcaption><%-imag.descriere%></figcaption>
          </figure>
          <% } %> <% } %>
        </div>
      </section>

      <section id="sectiune-galerie-animata" ">
        <h2 style="font-size:40px;">GALERIE ANIMATA PRODUSE</h2>
        <center><div id="galerie-animata" class="galerie-a">
          <% for (let imag of locals.imagini){ %>
          <figure>
            <picture>
              <!-- il ia pe primul care se potriveste cu query-ul din media-->
              <source srcset="/<%-imag.mic%>" media="(max-width:700px)" />
              <img src="/<%-imag.mare%>" alt="text" />
            </picture>
            <figcaption><%-imag.descriere%></figcaption>
          </figure>
          <% } %>
        </div>
      </center>
      </section>
    </div>
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
